{
  "ckey" :            "fakeperson",
  "character_name" :  "Joe Bloggs",
  "item_name" :       "Joe's suit",
  "item_desc" :       "This is Joe Bloggs' suit. It stinks, badly.",
  "item_icon_state" : "some_custom_voidsuit_state",
	"item_path" :       "/obj/item/device/kit/suit"
  "additional_data" : { "light_overlay" : "some_helmet_overlay_state" },
  "req_titles" :      [ "Janitor" ],
  "req_access" :      [ "ACCESS_CAVEMAN" ]
}

ADDITIONAL NOTES FOR SUIT KITS

  * Additional data:
    Unless you're using an existing light overlay state, light_overlay must be provided in both custom_items_obj and custom_items_mob, and it must be named the same
    in each file.