{
  "ckey" :            "fakeperson",
  "character_name" :  "Joe Bloggs",
  "item_name" :       "Joe's mug",
  "item_desc" :       "Joe's mug. It courses with basic energy.",
  "item_icon_state" : "a_mug_icon_state",
  "item_path" :       "/obj/item/reagent_containers/food/drinks/glass2/coffeecup/custom",
  "additional_data" : { "base_name" : "basic mug" },
  "req_titles" :      [ "Janitor" ],
  "req_access" :      [ "ACCESS_CAVEMAN" ]
}

//ADDITIONAL INFO FOR MUGS

  * All mugs must have the exact same opening (size AND position) as seen in the default coffee cup icon in coffecup.dmi on the main repo. This is to ensure the liquid fill overlay works properly.
  * In additional_data:
    * base_name - this is the name used when the mug is full. "base_name of coffee". 