{
  "ckey" :            "fakeperson",
  "character_name" :  "JoeBloggs",
  "item_name" :       "Joeshat",
  "item_desc" :       "descdescdescdesc",
  "item_icon_state" : "some_custom_hat_icon_state",
  "item_path" :       "pathtoanitem",
  "req_titles" :      [ "Janitor" ],
  "req_access" :      [ "ACCESS_CAVEMAN" ]
}